table,
td,
th,
tr {
    border: 1px solid black;
    /*border-radius: 12px;*/
}

table {
    /* alapertelmezett beallitas border-collapse: separate; */
    border-collapse: collapse;
    /*border-radius: 12px;*/
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td, th {
    padding: 16px;
}

tr {
    background-color: aqua;
}

tr:nth-child(odd) {
    background-color: green;
}

tr:nth-child(even) {
    background-color: blue;
}

tr:nth-child(2) {
    background-color: red;
}

caption {
    padding-bottom: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}