body{
    background-color: darkcyan;
}

table,
tr,
td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 22px;
    padding: 5px;
    width: 100%;
    max-width: 900px;
}

caption {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    padding: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px
}

td, th {
    padding: 8px;
}

th {
    background-color: gray;
    font-size: 32px;
}

tbody tr:nth-child(even) {
    background-color: lightblue;
}

tbody tr:nth-child(odd) {
    background-color: lightyellow;
}